<div class="bg-main d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <div class="box-design card p-3">
    <form #myForm="ngForm" (ngSubmit)="calculateAge(myForm)">
      <div class="input-box d-flex gap-3 px-3 w-75">
        <div class="mb-3">
          <label class="form-label">DAY</label>
          <input type="text" class="form-control p-2" placeholder="DD" name="date" ngModel>
        </div>
        <div class="mb-3">
          <label class="form-label">MONTH</label>
          <input type="text" class="form-control p-2" placeholder="MM" name="month" ngModel>
        </div>
        <div class="mb-3">
          <label class="form-label">YEAR</label>
          <input type="text" class="form-control p-2" placeholder="YYYY" name="year" ngModel>
        </div>
      </div>
      <div class="d-flex align-items-center px-3">
        <div class="" style="width: 85%;">
          <hr>
        </div>
        <button type="submit" class="btn p-0 rounded-circle"><img class="button-img rounded-circle p-2"
            src="assets\images\icon-arrow.svg" type="image/svg+xml" alt="Arrow"></button>
      </div>
    </form>
    <div class="output px-3">
      <h1><span [textContent]="years" class="out"></span> years</h1>
      <h1><span [textContent]="months" class="out">-- </span> months</h1>
      <h1><span [textContent]="days" class="out">-- </span> days</h1>
    </div>
  </div>
  <div class="attribution position-absolute start-50 translate-middle" style="top:95%">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="https://github.com/preloboy/">Prelo Tulshi</a>.
  </div>
</div>